/.IGESDescriptionLabelProvider.java._trace
/.IGESLabelProvider.java._trace
/.IGESDescriptionLabelProvider.xtendbin
/.IGESLabelProvider.xtendbin
/IGESDescriptionLabelProvider.java
/IGESLabelProvider.java
