<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		<propertyContributor 
			contributorId="org.eclipse.eavp.viz.service.geometry.widgets.ShapeTreeView"
			tabDescriptorProvider="org.eclipse.eavp.viz.service.geometry.properties.ShapeTabDescriptorProvider">
			<propertyCategory category="GeometrySelection"/>
		</propertyContributor>
	</extension>
</plugin>
